body {
	font-family: sans-serif;
	background-color: #fff;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
	font-weight: normal;
}


#simplemodal-overlay {
	background-color: #000;
}

#simplemodal-container {
	background-color: #fff; 
	border: 6px solid #e6eeee; 
	padding: 15px;
	min-width: 800px;
	min-height: 600px;
	max-width: 800px;
}

#simplemodal-container a.modalCloseImg {
	background:url(images/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-5px;
	right:-5px;
	cursor:pointer;
}		

#container {
	display: none;
}

.quxViewerContainer {
}

.quxViewerContainer  h1 {
	font-size: 1.6em;
	font-weight: bold;
}

.quxViewerContainer  h2 {
	font-size: 1.5em;
	font-weight: bold;
}

.quxViewerContainer  h3 {
	font-size: 1.4em;
	font-weight: bold;
}

.quxViewerContainer  h4 {
	font-size: 1.3em;
	font-weight: bold;
}

.quxViewerContainer  h5 {
	font-size: 1.2em;
	font-weight: bold;
}

.quxViewerContainer  h6 {
	font-size: 1.1em;
	font-weight: bold;
}

.quxViewerContainer p {
	line-height: 1.4em;
}

.quxViewerContainer blockquote {
	font-family: monospace;
}


.quxViewerStateName {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 20px;
}

.quxViewerTitle {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 15px;
}

.quxViewerDescription {
}

.quxViewerButtonContainer {
	margin: 10px 0 0 0;
	text-align: left;
}

.quxViewerButton {
	margin: 5px;
	padding: 5px;
}
